* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #111;
    font-family: "Neuzeit-Grotesk", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor:none;
}

header {
    padding-top: 1px;
}

main {
    position: relative;
    text-align: center;
    width: 100vw;
}

a {
    text-decoration: none;
}

/* top logo */

#logo {
    position: absolute;
    left: 0;
    margin: 4rem 5rem;
    z-index: 10000;
}

#logo a img {
    width: 50px;
    height: 50px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-top: 2rem;
    color: #CD9F7B;
}

h3 {
    margin-top: 1rem;
}

h4 {
    margin-bottom: 0.25rem;
}

section>h3, section>h4 {
    line-height: 3em;
}

p {
    color: white;
}

/* header nav*/

.nav-wrapper {
    width: 50%;
    margin:1rem 0;
    position: absolute;
    top:4rem;
    right:.5rem;
}

.nav-wrapper nav a{
    z-index:1;
    margin:0 auto;
    padding:0 1rem;
    display:block;
}

.nav-wrapper nav {
    width: 100%;
    margin: 0;
    text-align: center;
}

.hover-this {
    transition: all 0.3s ease;
}

.nav-wrapper nav a span{
    display: inline-block;
    font-weight: 100;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    pointer-events: none;
    transition: transform 0.1s linear;
}

.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: #fff;
    border-radius: 50%;
    z-index:100000;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
    transform: translate(-10%, -10%) scale(6);
}

@media(min-width: 900px) {
    nav {
          display: flex;
          justify-content: space-around;
    }
}

@media(max-width: 900px) {
    nav {
          top: 30%;
    }

    .hover-this {
          width: 100%;
          padding: 20px 0;
          display: inline-block;
    }
}



/*  styling footer  */

footer {
    text-align: center;
    padding-top: 2rem;
    line-height: 2em;
}

.footer-nav a {
    text-decoration: none;
    color: #F6EDDE;
    padding: .5em;
    font-size:.88rem;
    line-height: 1.5rem;
}

.footer-nav a:active, .footer-nav a:hover, .footer-nav a:focus {
    color: #FDBB87;
}

/* footer icon */

.fab {
    font-size: 20px;
    color: #69524B;
    text-align: center;
    margin:0 auto;
    padding:0 .5rem;
}

.fab:active, .fab:hover, .fab:focus {
    color: #FDBB87;
}

footer h5 {
    color: #F6EDDE;
    font-size:.75rem;
    line-height: 1.5rem;
}

/* reference code：https://blog.csdn.net/FungLeo/article/details/77931563 */

.container {
    position: fixed;
    top: 60px;
    right: 50px;
    z-index: 1000;
    overflow: hidden;
    display: none;
}

#menu {
    width: 100px;
    height: 100px;
    transform: scale(.3);
    z-index: 1000;
}

#menu:before, #menu:after {
    content: "";
    display: block;
    width: 100px;
    height: 16px;
    background: #fff;
    border-radius: 8px;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    z-index: 1000;
}

#menu:before {
    top: 5px;
    box-shadow: 0 37px #fff;
    z-index: 1000;
}

#menu:after {
    bottom: 5px;
    z-index: 1000;
}

#menu:hover:before {
    top: 42px;
    box-shadow: none;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    z-index: 1000;
}

#menu:hover:after {
    bottom: 42px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    z-index: 1000;
}

#side_nav {
    display:none;
    height: 100%;
    position: fixed;
    top: 0;
    right: -300px;
    background-color: #fff;
    opacity: 0;
    transition: right .5s, opacity .5s;
    z-index: 10;
}

.top_nav{
    display: none;
}

/* home bg */

.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.bubble {
    position: absolute;
    bottom: 0;
    background: #f1f1f1;
    border-radius: 50%;
    opacity: 0.5;
    animation: flying 10s infinite ease-in;
}

.bubble:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 8s;
}

.bubble:nth-child(2) {
    width: 20px;
    height: 20px;
    left: 20%;
    animation-duration: 10s;
    animation-delay: 1s;
}

.bubble:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 35%;
    animation-duration: 10s;
    animation-delay: 2s;
}

.bubble:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 50%;
    animation-duration: 7s;
    animation-delay: 1s;
}

.bubble:nth-child(5) {
    width: 35px;
    height: 35px;
    left: 55%;
    animation-duration: 6s;
    animation-delay: 2s;
}

.bubble:nth-child(6) {
    width: 45px;
    height: 45px;
    left: 65%;
    animation-duration: 8s;
    animation-delay: 3s;
}

.bubble:nth-child(7) {
    width: 25px;
    height: 25px;
    left: 75%;
    animation-duration: 7s;
    animation-delay: 2s;
}

@keyframes flying {
    0% {
        bottom: -100px;
        transform: translateX(100px);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        bottom: 1080px;
        transform: translateX(-200px);
    }
}


/* homepage */
#homeHtml{
    overflow: hidden;
}

#homepage{
    height:77vh;
}

/* main - The Maid */

#p1 {
    position: relative;
}

.titleBG {
    margin-top: 0;
}

#the-maid-bg {
    width: 100%;
    height: 100vh;
    background-image: url("../img/themaid.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}

#haze-filter {
    background-color: #334;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: .5;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.titleText {
    width: 68%;
    height: 100vh;
    padding-top: 15rem;
    margin: 0 auto;
    text-align: left;
    z-index: 100;
}

.titleText h1 {
    font-size: 5rem;
    line-height:4rem;
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .33rem;
    color: #FDBB87;
}

.titleText h2 {
    padding-left:.5rem;
}

.titleText p {
    font-size: 1.2rem;
    padding: 2rem 0.5rem;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .11rem;
}

.project-overview {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #111;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    padding: 3rem 6rem;
    z-index: 0;
}

.project-overview div {
    flex-wrap: wrap;
    margin: auto 4rem;
    text-align: justify;
    font-size: .8rem;
}

.project-overview div h3 {
    color: #FDBB87;
    margin: 1rem 0;
}

.project-overview div p {
    color: white;
    letter-spacing: .2rem;
}

.project-overview #view-website {
    position: absolute;
    top: 40vh;
    right: 5rem;
    padding: 2rem;
    text-align: center;
}

.project-overview div a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    letter-spacing: .2rem;
    transition: color .5s;
}

.project-overview div a:hover, .project-overview div a:focus, .project-overview div a:active {
    text-decoration: underline;
    color: #FDBB87;
}

/* project1 */

#project {
    width: 100%;
    height: 100vh;
    padding-top: 2rem;
    background-color: white;
    position: relative;
}

#project .subtitle .longdash {
    position: absolute;
    top: 6.25rem;
    left: 0;
    width: 50px;
    height: 0;
    border: 1px solid #ccc;
}

.subtitle h1 {
    width: 4rem;
    font-size: 3rem;
    font-weight: lighter;
    color: #666;
    text-align: left;
    margin: 0 0 0 4rem;
    padding-top: 2rem;
}

#project .box {
    width: 68%;
    margin: 0 auto;
    display: flex;
}

#project .box h1 {
    font-size: 10rem;
    font-weight: bolder;
    text-align: left;
    flex: 1;
    background-image: url("../img/themaid.jpg");
    background-size: cover;
    background-position: center bottom;
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 10rem;
    color: rgba(0, 0, 0, 0);
}

#project .box p {
    font-size: 1rem;
    text-align: justify;
    flex: 1;
    line-height: 1.5rem;
    color: #111;
    padding-top: 5rem;
}

#process {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    padding: 2rem 0;
    background-color: #111;
    position: relative;
}

#process .subtitle .longdash, #draftImage .subtitle .longdash {
    position: absolute;
    top: 6.25rem;
    left: 0;
    width: 50px;
    height: 0;
    border: 1px solid #aaa;
}

#process .box, #draftImage .box {
    width: 68%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
}

#process .box h1, #draftImage .box h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: left;
    flex: 1;
    color: #fff;
    mix-blend-mode: difference;
    padding: 2rem 0 0 0;
    margin: 0;
}

#process .box p {
    font-size: 1rem;
    text-align: justify;
    flex: 1;
    line-height: 1.5rem;
    color: white;
    padding-top: 3rem;
}

#process .pos1 {
    width: 68%;
    margin: 0 auto;
}

#process .pos1 div {
    margin: 1rem auto;
    position: relative;
}

#process .pos1 div h3 {
    text-align: left;
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0;
    padding-left:3.75rem;
    padding-top: 2rem;
    color:#666;
}

#process .pos1 div .dashed{
    position: absolute;
    top: 2.25rem;
    left: .2rem;
    width: 3rem;
    height: 0;
    border: 1px solid #666;
}

.flexing {
    display: flex;
}

.flexing img {
    flex: 1;
    width: 400px;
    height: auto;
    padding: 0 2.25rem 0 .2rem;
}

.flexing p {
    flex: 1.1;
    margin: auto 0;
    padding: 0;
    text-align: justify;
}

#draftImage {
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
    background-color: white;
    position: relative;
}

#draftImage .box p {
    font-size: 1rem;
    text-align: justify;
    flex: 1;
    line-height: 1.5rem;
    color: #111;
    padding-top: 3rem;
}

#draftImage .pos1 {
    width: 68%;
    margin: 0 auto;
    color: #111;
}

#draftImage .pos1 h3 {
    font-size: 1.75rem;
    margin: 1rem;
    text-align: left;
    color:#666;
}

#draftImage .pos1 p {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 2rem;
    text-align: justify;
    color: #111;
}


/* project 2 */
#the-fish-bg {
    width: 100%;
    height: 100vh;
    background-image: url("../img/gameEnvironment.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity:.75;
    z-index: -1;
}

/*About section*/

#about {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #efe8d8;
    display: flex;
}

#about .subtitle {
    flex: 1;
}

#about .box {
    flex: 2;
    padding: 10rem 2rem 10rem 4rem;
    display: block;
    text-align: justify;
}

.myimg {
    position: relative;
    margin: 10rem 2rem;
    padding: 0;
}

.myimg div:nth-child(1) {
    position: relative;
    background-image: url("../img/me.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    width: 12rem;
    height: 12rem;
    margin: 7rem auto 0 auto;
    text-align: center;
}

.myimg div:nth-child(2) {
    position: absolute;
    background-image: url("../img/c1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    width: 8rem;
    height: 8rem;
    margin: 7rem auto 0 auto;
    top: -20px;
    left: -50px;
}

.myimg div:nth-child(3) {
    position: absolute;
    background-image: url("../img/c2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    width: 6rem;
    height: 6rem;
    margin: 7rem auto 0 auto;
    top: 120px;
    left: 120px;
}

#about .empty {
    flex: 1;
}

#about .box p {
    padding: 2rem;
    margin: 3.5rem auto;
    text-align: justify;
    line-height: 1.55rem;
}

.up a{
    position:fixed;
    padding:0 .8rem;
    font-size:2rem;
    bottom:1.25rem;
    right:2.25rem;
    mix-blend-mode: difference;
    border-radius:20%;
    color:#fff;
    opacity:.5;
    mix-blend-mode: difference;
    text-decoration: none;
    transition: bottom .25s, right .25s, font-size .25s, opacity .25s;
}

.up a:hover, .up a:active, .up a:focus{
    bottom:.75rem;
    right:1.75rem;
    font-size:3rem;
    opacity:1;
    mix-blend-mode: difference;
}

@media screen and (max-width:80em) {
    .nav-wrapper nav a{
        display:none;
    }

    #side_nav {
        display:block;
        height: 100%;
        position: fixed;
        top: 0;
        right: -300px;
        background-color: #fff;
        opacity: 0;
        transition: right .5s, opacity .5s;
        z-index: 10;
    }

    .top_nav a span{
        display: block;
        font-weight: 100;
        color: #000;
        font-size: 1.5rem;
        text-transform: uppercase;
        pointer-events: auto;
        transition: transform 0.1s linear;
        line-height: 2rem;
        text-decoration: none;
        padding: 1.5rem 2rem;
        text-align: center;
        transition: color .5s linear;
    }

    .top_nav{
        display:block;
        margin-top:15rem;
    }
    
    .top_nav a span:hover, .top_nav a span:focus, .top_nav a span:active {
        color: #FDBB87;
    }

    #logo {
        margin: 2rem 3rem;
        position: fixed;
        mix-blend-mode: difference;
    }
    #logo a img {
        width: 42px;
        height: 42px;
    }
    /* footer icon */
    .fab {
        font-size: 22px;
    }
    /* menu icon */
    .container {
        top: 1px;
        right: 10px;
        overflow: hidden;
        display:block;
        mix-blend-mode: difference;
    }
    #menu {
        transform: scale(.3);
    }
    /* main */
    main {
        width: 100%;
    }
    /*About section*/
    #about {
        width: 100%;
        margin: 0;
        padding: 0;
        color: #efe8d8;
        display: block;
    }
    #about .subtitle {
        display: none;
    }
    #about .box {
        width: 100%;
        padding: 0 0rem;
        margin: 0 auto;
    }
    #about .box p {
        width: 100%;
        height: auto;
        margin: 0rem;
    }
    #about .myimg {
        margin-bottom: 0;
    }
    .myimg div:nth-child(2), .myimg div:nth-child(3) {
        display: none;
    }
    #about .empty {
        display: none;
    }
    /* project1 */
    /* main - The Maid */
    .titleBG {
        margin-top: 0;
    }
    #the-maid-bg {
        background-position: 35% 50%;
    }

    .titleText {
        padding-top: 15rem;
        margin: 0 auto;
    }

    .project-overview {
        height: 75vh;
        display: block;
        padding: 4rem 14%;
        margin: 0;
    }
    .project-overview div {
        display: block;
        margin: 0;
    }
    .project-overview #view-website {
        font-size: .9rem;
        top: 50vh;
        right: 10%;
    }
    .project-overview div h3 {
        font-size: 1rem;
    }
    .project-overview div p {
        font-size: .9rem;
        font-weight: 100;
    }
    /* project1 */
    #project{
        height:auto;
        padding-bottom: 5rem;
    }

    #project .box {
        width: 68%;
        height:auto;
        margin: 0 auto;
        display: block;
    }
    #project .box h1 {
        font-size: 8rem;
        line-height:8rem;
        text-align: center;
        padding-top: 3rem;
        display: block;
    }
    #project .box p {
        display: block;
        font-size: 1rem;
        line-height: 1.5rem;
        padding-top: 5rem;
    }

    #process .box, #draftImage .box {
        display: block;
        height:auto;
        margin-bottom:10rem;
    }

    #process .box h1, #draftImage .box h1{
        display: block;
        font-size:3rem;
    }

    #process .pos1 div h3 {
        text-align: left;
        font-size: 1.5rem;
    }

    #process .pos1 div .dashed{
        top: 2.05rem;
    }

    #draftImage .pos1 h3 {
        font-size: 1.5rem;
        margin: 1rem;
        text-align: left;
    }

    #draftImage{
        height:auto;
    }

    #draftImage .box p {
        display: block;
    }

    .flexing {
        display: block;
    }
    .flexing img {
        width: 100%;
        height:auto;
        padding: 0 .2rem;
    }
    .flexing p {
        width:100%;
        margin: 0 auto;
        padding: 2rem .2rem;
    }
}

@media screen and (max-width:30em) {
    #logo {
        margin: 2rem 2.5rem;
    }
    #logo a img {
        width: 32px;
        height: 32px;
    }
    /* footer icon */
    .fab {
        font-size: 25px;
    }
    /* menu icon */
    #menu {
        transform: scale(.25);
    }

    /* project1 */
    /* main - The Maid */
    #the-maid-bg {
        background-position: 35% 50%;
    }

    .titleText {
        padding-top: 15rem;
        margin: 0 auto;
    }
    *{
        overflow-x: hidden;
    }
    .titleText h1{
        font-size: 40pt;
    }

    .project-overview {
        height: 70vh;
        display: block;
        text-align: center;
        padding:0;
        margin: 5rem auto 0 auto;
    }
    .project-overview div {
        display: block;
        margin: 1.5rem auto;
    }
    .project-overview #view-website {
        font-size: .9rem;
        display:block;
        padding:0;
        margin:0;
    }
    .project-overview div h3 {
        font-size: 1rem;
        text-align: center;
        margin:.5rem auto;
    }
    .project-overview div p {
        font-size: .9rem;
        font-weight: 100;
        text-align: center;
        margin:0 auto;
    }
    /* project1 */
    #project .box {
        width: 90%;
        height:auto;
        margin: 0 auto;
        display: block;
    }
    #project .box h1 {
        font-size: 6rem;
        line-height:6rem;
    }

    #process .box, #draftImage .box {
        width:90%;
        display: block;
        height:auto;
        margin-bottom:5rem;
    }

    #process .box h1, #draftImage .box h1{
        display: block;
        font-size:3rem;
    }

    #process .pos1, #draftImage .pos1{
        width:90%;
    }


    .up a{
        position:fixed;
        padding:0 .8rem;
        font-size:2rem;
        bottom:.75rem;
        right:1.75rem;
        mix-blend-mode: difference;
        border-radius:20%;
        color:#fff;
        opacity:.5;
        mix-blend-mode: difference;
        text-decoration: none;
        transition: bottom .25s, right .25s, font-size .25s, opacity .25s;
    }
    
    .up a:hover, .up a:active, .up a:focus{
        bottom:.25rem;
        right:1.25rem;
        font-size:3rem;
        opacity:1;
        mix-blend-mode: difference;
    }
}